<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C969.Properties.Settings.U08hnQConnectionString" connectionString="server=wgudb.ucertify.com;user id=U08hnQ;password=53689293162;persistsecurityinfo=True;database=U08hnQ"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>